@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500&display=swap');

:root{
    --black: #000000;
    --white: #ffffff;
    --red: #E21717;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif !important;
}

a{
  text-decoration: none !important
}

body {
    width: 90%;
    background-color: var(--black);
    margin: 0 auto;
  }
